ul { /* UL */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
  }
li { /* LI */
    float: left;
    border-right: 1px solid #bbb;
  }
li a { /* A */
    display: block;
    color: white;
    text-align: center;
    padding: 24.5px 28px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: 0.2s;
  }
li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #062f9e;
  }
  li:last-child {
    border-right: none;
  }
body {
   margin: 0;
    /*background-image: linear-gradient(to bottom right, #000000, #3533CD);*/
    
}

.titleCard {
    display: block;
    margin: 10px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



.topCard {
    display: block;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 50%;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 60px;
    font-style: normal;
}

.topImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#votecardstyles {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
    object-fit: fill;
}



/* From here forward is for mobile screens*/







@media (max-width: 600px) {
    ul { /* UL */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    
  }
li { /* LI */
    width: 100%;
    border-right: 1px solid #bbb;
  }
li a { /* A */
    display: block;
    color: white;
    text-align: center;
    padding: 24.5px 28px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: 0.2s;
  }
li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #062f9e;
  }
  li:last-child {
    border-right: none;
  }
body {
   margin: 0;
}

.titleCard {
    display: block;
    margin: 10px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#blackover {
    background-color: black;
    opacity: 75%;
    margin: 0;
    width: 100%;
    height 100%;
}

.topCard {
    display: block;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 50%;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 60px;
    font-style: normal;
}

.topImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#votecardstyles {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    object-fit: fill;
}   
}
    



